body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: hwb(27 51% 8% / 0.968);
    color: #0b0b0b;
    padding: 20px;
}

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2eeb08;
}

 li {
    float: left;
}

 li a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px 66px;
    text-decoration: none;
}

